*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,Arial, sans-serif;
}
.container{
    height: 500px;
    background-color: #f0f2f5;
}
.logo{
   width: 240px;
   margin: auto;
   padding-top: 40px;
}
.logo img{
    width: 100%;
}


/* LOG IN FORM PORTION */

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 390px;
    margin: auto;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
h3{
    text-align: center;
    font-weight: 200;
    margin: 18px 0;

}
.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 13px;
    
}
.wrapper input{
    width: 350px;
    padding: 15px 30px;
    font-size: 17px;
    border: 0.01px solid rgb(181, 177, 177);
    outline: none;
    border-radius: 6px;
    
    
}
button{
    background-color:  #316FF6;
    width: 350px;
    padding: 13px 30px;
    border: none;
    border-radius: 6px;
    margin-top: 13px;
    color: white;
    font-size: 22px;
    font-weight: 700; 
    cursor: pointer;   
}
button:hover{
    background-color:  #2261eb;
}

.links{
    margin-top: 16px;
    margin-bottom: 30px;
}

.links a{
    color: #316FF6;
    font-size: 14px;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
}
a:hover{
    text-decoration: underline;
}


/* FOOTER PORTION */
.footer{
    width: 940px;
    margin: auto;
    padding-top: 175px;
}

.hype-link a{
    color: gray;
    font-size: 13px;
    padding-left: 10px;
    text-decoration: none;
}

.hype-link a:hover{
    text-decoration: underline;  
}

.sub-foot-one{
    margin-bottom: 15px;
}
.sub-foot-one i{
    font-size: 13px;
    border: 0.01px solid grey;
    padding: 2px 8px;
    border-radius: 2px;
    margin-left: 3px;
    background-color: rgb(244, 243, 243);
    cursor: pointer;  
}

.sub-foot{
    margin-top: 10px;
}
.footer p{
    color: gray;
    font-size: 13px;
    padding-left: 10px;
    margin-top: 3px; 
}

